!!!
%html
  %head
    %title
      StageCom
      
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "/faye.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
    

  %body
    = yield

